<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mbanna.swiftbraille">

    <!-- PERMISSIONS -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <!-- APPLICATION DETAILS -->
    <application
        android:name=".Common"
        android:allowBackup="true"
        android:description="@string/app_description"
        android:fullBackupContent="@xml/backup"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- To handle InputMethodService -->
        <service
            android:name=".BrailleIME"
            android:label="@string/app_name"
            android:permission="android.permission.BIND_INPUT_METHOD">
            <meta-data
                android:name="android.view.im"
                android:resource="@xml/methods" />

            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>
        </service>

        <!-- Voice input libraries -->
        <service android:name="com.mbanna.swiftbraille.voiceime.ServiceHelper" />
        <activity
            android:name="com.mbanna.swiftbraille.voiceime.ActivityHelper"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:excludeFromRecents="true"
            android:windowSoftInputMode="adjustPan"
            android:finishOnTaskLaunch="true"
            android:configChanges="keyboard|keyboardHidden|navigation|orientation"/>

        <!-- Main Braille Activity -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="www.SwiftBraille.com"
                    android:scheme="http" />
            </intent-filter>
        </activity>

        <!-- Web View activity-->
        <activity android:name=".WebViewActivity" android:parentActivityName=".MainActivity" />

        <!-- Settings Activities -->
        <activity android:name=".settings.SettingsActivity" android:label="@string/settings_title" android:parentActivityName=".MainActivity" />
        <activity android:name=".settings.DotsLayoutActivity" android:label="@string/dots_layout" android:parentActivityName=".settings.SettingsActivity" />
        <activity android:name=".settings.DotsStyleActivity" android:label="@string/dot_style" android:parentActivityName=".settings.SettingsActivity" />
        <activity android:name=".settings.KeyboardLanguagesActivity" android:label="@string/keyboard_languages" android:parentActivityName=".settings.SettingsActivity" />
        <activity android:name=".settings.KeyboardDimensionActivity" android:label="@string/keyboard_dimensions" android:parentActivityName=".settings.SettingsActivity" />
        <activity android:name=".settings.SoundsActivity" android:label="@string/sounds_item" android:parentActivityName=".settings.SettingsActivity" />
        <activity android:name=".settings.AdvancedActivity" android:label="@string/advanced_item" android:parentActivityName=".settings.SettingsActivity" />
        <activity android:name=".settings.AboutActivity" android:label="@string/about_item" android:parentActivityName=".MainActivity" />
    </application>
</manifest>